@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flex {
}
.left {
  width: 25vw;
}
.right {
  width: 75vw;
}
.border_style {
  border: 2px solid red;
  margin: 3px;
}
dl,
ol,
ul {
  margin: 0 !important;
  padding: 0;
}
ul li {
  list-style: none;
  width: 20px;
  display: flex;
  gap: 10px;
  margin-block: 10px;
}
.bg_black {
  background-color: black;
  color: white;
}
.invert {
  filter: invert(1);
}
.bg_grey {
  background-color: #121212;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.heading h2 {
  margin: 0;
}
.heading img {
  width: 30px;
}

/* 31:00 youtube */
